* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.blk-container {
    padding: 0px 75px;
    background-color: #1f2937;
}

.header {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 0px 64px 0px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    margin-right: 280px;
}

a {
    text-decoration: none;
    color: #f9faf8;
}

.links {
    display: flex;
    gap: 16px;
}

.wht-container {
    padding: 0px 75px;
    background-color: #fff;
    margin-bottom: 64px;
}

.hero {
    display: flex;
    background-color: #1f2937;
    padding-bottom: 64px;
    justify-content: center;
}

.left {
    margin-right: 32px;
    width: 350px;
}

.hero-text {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.hero-second {
    font-size: 18px;
    color: #e5e7eb;
    margin: 8px 0px;
}

.hero-btn {
    color: #f9faf8;
    background-color: #3882f6;
    padding: 8px 32px;
    border-radius: 8px;
    font-weight: 900;
}

.info-text {
    text-align: center;
    margin: 32px 0px;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.square {
    height: 150px;
    width: 150px;
    border: 4px #3882f6 solid;
    border-radius: 16px;
}

.card-text {
    width: 150px;
    text-align: center;
}

.grey-container {
    display: flex;
    background-color: #e5e7eb;
    padding: 75px 128px;
    justify-content: center;
}

.testimonial {
    display: flex;
    flex-direction: column;
}

.test-text {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    font-weight: 400;
    width: 750px;
}

.test-by {
    text-align: end;
    font-weight: 800;
}

.container {
    display: flex;
    justify-content: center;
    margin: 128px;
}

.blue-container {
    display: flex;
    justify-content: space-between;
    background-color: #3882f6;
    border-radius: 8px;
    width: 700px;
    padding: 32px;
}

.big-text {
    font-style: bold;
    font-size: 24px;
    color: white;
    font-weight: 800;
}

.tiny-text {
    color: white;
}

.sign-up {
    background-color: #3882f6;
    color: white;
    border-color: white;
    border-radius: 8px;
    border-width: 2px;
    padding: 8px 32px;
}

@media (max-width: 970px) {
    .logo {
        margin-right: 250px;
    }
}